@import "tailwindcss";

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;     
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;            
  }

  .scrollbar-thin-light {
    scrollbar-width: thin;               
    scrollbar-color: #7dd3fc transparent; 
  }

  .scrollbar-thin-light::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin-light::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin-light::-webkit-scrollbar-thumb {
    background-color: #7dd3fc;
    border-radius: 999px;
  }

  .scrollbar-thin-light::-webkit-scrollbar-thumb:hover {
    background-color: #38bdf8; 
  }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background:#212121;
overflow-x: hidden;
}

.search-button {
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 5px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 18px;
 padding: 1rem 1.5em;
}

.search-button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}


