@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
